@import "../../../styles";
.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  .wrapper_input {
    width: 100%;
    border-bottom: $borderFirst;
    .formInput_label {
      width: 100%;
      .formInput {
        width: 100%;
        padding: 1rem 0.3rem;
        background-color: transparent;
        outline: none;
        color: $gray;
      }
    }
  }
}
.full_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.full_wrapper_input {
  padding: 1rem;
  text-align: left;
  margin: 1rem 0;
  border: $borderFirst;
  font-size: $font_13px;
  font-weight: $regular;
}

.full_wrapper_input input{
  width: 100%;
}

@include mobile-w {
  .formInput {
    font-size: $font_10px;
    width: 100%;
  }
}

