/* Variables:
  ========================================================================== */

// fonts
$font_family: 'Proxima Nova';

//font-weight
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 800;

//font-size
$font_80px: 5rem;
$font_60px: 3.5rem;
$font_40px: 2.5rem;
$font_30px: 1.875rem;
$font_25px: 1.47rem;
$font_25px: 1.47rem;
$font_20px: 1.25rem;
$font_18px: 1.125rem;
$font_16px: 1rem;
$font_15px: 0.9375rem;
$font_13px: 0.8rem;
$font_10px: 0.625rem;

// colors
$gray: #888;
$lightGrey: #e3e6ea;
$black: #000000;
$white: #ffffff;
$red: #ff817e;

// bg-color

$lightRed: #fff9f8;
$lightBeige: #fcf5ee;

//border
$borderFirst: 1px solid $lightGrey;
$borderTwo: 2px solid $red;
$borderRedThin: 1px solid $red;

//transition

$transition: all 300ms ease-in-out;
